@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=block');

@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Public Sans', sans-serif;
}

:root {
  --font-weight-medium: 500;
  --font-size-label: 14px;

  --color-surface: white;

  --combinedFieldMinBadgeWidth: 88px;

  --ui-primary: var(--ui-color-primary-700);
}

* {
  corner-shape: superellipse(1.333);
}

html.dark {
  --color-white: var(--ui-color-neutral-300);

  --ui-text-dimmed: var(--ui-color-neutral-600);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-300);
  --ui-text: var(--ui-color-neutral-400);
  --ui-text-highlighted: var(--color-white);
  --ui-text-inverted: var(--ui-color-neutral-900);

  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-700);
  --ui-bg-inverted: var(--color-white);

  --ui-border: var(--ui-color-neutral-800);
  --ui-border-muted: var(--ui-color-neutral-700);
  --ui-border-accented: var(--ui-color-neutral-800);
  --ui-border-inverted: var(--color-white);
}

html:not(.dark),
html:not(.dark) body {
  background-color: var(--ui-bg-muted);
}

*[aria-current='page'] {
  scroll-margin-top: 32px;
}
